<h1 class="text-center">@Html.RouteLink("Home", "Home")</h1>

<ul>
    <li>@Html.RouteLink("Projects", "Projects")</li>
    <li>@Html.RouteLink("About", "About")</li>
    <li>@Html.RouteLink("Contact", "Contact")</li>
</ul>