.form-group {
    padding: 15px 0;
}

input[type="submit"] {
    margin-top: 15px;
}

.field-validation-error {
    color: red;
    display: block;
    margin: 6px 0;
}

.site-header {
    background-color: #fff;
    padding-bottom: 0;
    font-size: 5.5em;
    font-family: "Coustard",Georgia,serif;
    margin-bottom: 0;
    padding-top: 50px;
}

    .site-header a {
        color: #333;
        border-bottom: 1px dotted #ccc;
    }

        .site-header a:hover {
            text-decoration: none;
        }

    .site-header #last {
        color: #668F23;
    }



nav {
}

    nav ul {
        border-top: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
        padding: 18px;
        text-align: center;
    }

    nav li {
        display: inline;
        padding: 0 15px;
    }

        nav li a {
            color: #333;
            font-family: "Coustard",Georgia,serif;
        }

            nav li a:hover {
                color: #333;
                text-decoration: underline;
            }

            nav li a.active { 
                color:#668F23;
            }

.site-header #slogan {
    font-size: .18em;
    text-align: center;
    margin: 25px 0;
    font-family: "Coustard",Georgia,serif;
}

article {
}

    article div.content {
        padding: 30px;
    }

    article h1 {
        font-family: "Coustard",Georgia,serif;
    }

        article h1 a {
            color: #333;
        }

            article h1 a:hover {
                background-color: #eee;
                text-decoration: none;
            }

    article footer {
        color: #aaa;
        margin:30px 0;
    }

        article footer .entry-date {
            border-bottom: 1px dotted #aaa;
            color: #333;
        }

h2#page-title {
    font-family: "Coustard",Georgia,serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 40px 0;
}
