@model IEnumerable<mw.Models.Entry>

@{
    ViewBag.Title = "Blog";
}

<div class="row">
    <div class="col-md-8">
        @foreach (var entry in Model)
        {
            <article>
                <header>
                    <h1>@Html.ActionLink(entry.Title, "Details", new { id = entry.Id })</h1>
                </header>
                <div>
                    @entry.Body
                </div>
                <footer></footer>
            </article>
        }
    </div>
</div>