@model IEnumerable<mw.Models.Entry>

@{
    ViewBag.Title = "Blog";
}

<h2 id="page-title">Latest Posts</h2>

@foreach (var entry in Model) {
    <article class="entry-index">
        <header>
            <h1>@Html.ActionLink(entry.Title, "Details", new { id = entry.Id })</h1>
        </header>
        <footer>
            @Helpers.WrittenAt(entry)
        </footer>
        <div class="content">
            @Html.Raw(entry.Body)
        </div>
    </article>
}