@model IEnumerable<mw.Models.Entry>

@{
    ViewBag.Title = "Blog";
}

@foreach (var entry in Model)
{
    <article>
        <header>
            <h1>@entry.Title</h1>
        </header>
        <div>
            @entry.Body
        </div>
        <footer></footer>
    </article>
}
