@model mw.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Model.Name
@Model.Description
<img src="@Url.Content(Model.Image.RelativePath)" alt="oops"/>

@*@Html.ActionLink("Delete")*@

@Html.ActionLink("Edit this", "Edit", new { id = Model.Id })