@model mw.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Model.Name
@Model.Description
<img src="@Model.Image.ImagePath" alt="oops"/>

@Html.ActionLink("Edit this", "Edit", new { id = Model.Id })