@model IEnumerable<mw.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<div class="row">
    <div class="col-md-8 col-lg-offset-2">

        <h2>@ViewBag.Title</h2>

        @foreach (var project in Model)
        {
            @Html.ActionLink(project.Name, "Details", new { id = project.Id })
            @project.Description

            @*<div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="..." alt="...">
                        </a>
                    </div>
                    ...
                </div>*@
        }

        </div>
    </div>