@model IEnumerable<mw.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2 id="page-title">@ViewBag.Title</h2>

        <div class="row" id="projects-index">
            @foreach (var project in Model) {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="@Url.Action("Details", "Projects", new {  id = @project.Id})">
                            <img src="@Url.Content("~/Content/Images/index.svg")" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
