@model IEnumerable<mw.Models.Project>
@using mw.Extensions

@{
    ViewBag.Title = "Projects";
}

<h2 id="page-title">@ViewBag.Title</h2>

<div class="row" id="projects-index">
    @foreach (var project in Model) {
        <div class="col-sm-6 col-md-4">
            @Html.ImageActionLink("Text", "Details", "Projects", new { id = project.Id }, new { @class = "thumbnail" }, "~/Content/Images/index.svg")
        </div>
    }
</div>
